<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>Book List</title>

  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com/3.1.8"></script>

  <link rel="stylesheet" href="main.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <header class="bg-gray-50 px-6 py-3 mb-8">
    <h1 class="font-bold text-2xl">Book List</h1>
  </header>

  <div id="main">
    <div class="container px-6 mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
      <section>
        <h2 class="mb-4 flex gap-2 text-xl font-semibold items-center">
          <svg class="w-8 h-8 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0120.25 6v12A2.25 2.25 0 0118 20.25H6A2.25 2.25 0 013.75 18V6A2.25 2.25 0 016 3.75h1.5m9 0h-9" />
          </svg>
          読みたい本
        </h2>
        <div v-if="wishBooks.length === 0">
          <p>読みたい本はありません。</p>
        </div>
        <ul v-else class="px-8 py-4 border-l-4 rounded-md border-green-600 flex flex-col gap-4">
          <book-wish
            v-for="book in wishBooks"
            v-bind:key="book.id"
            v-bind:book="book"
            v-on:delete-book="onDeleteBook"
            v-on:finish-book="onFinishBook"
          >
          </book-wish>
        </ul>
      </section>

      <section>
        <h2 class="mb-4 flex gap-2 text-xl font-semibold items-center">
          <svg class="w-8 h-8 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
          </svg>
          読んだ本
        </h2>
        <div v-if="finishBooks.length === 0">
          <p>読んだ本はありません。</p>
        </div>
        <ul v-else class="px-8 py-4 border-l-4 rounded-md border-blue-600 flex flex-col gap-4">
          <book-finish
            v-for="book in finishBooks"
            v-bind:key="book.id"
            v-bind:book="book"
          >
          </book-finish>
        </ul>
      </section>
    </div>
  </div>

  <script src="main.js"></script>

</body>

</html>
